.metadata
*.pys
*.pdf
.project
*.sln
*.docx
*.txt
.DS_Store
*.F4
*.png
*.xcwordspacedata
*.pydevproject
*.zip
*.pyc
*.plist
*.xcscheme
*.xcbkptlist
*.xcuserstate
*.sh
*.xml
*.xcworkspacedata
*.pbxproj
*.pyproj
model_file
test_data
training_data
*.suo
*.sln